body{
    background-image: url("assets/redBg.jpg");
    background-size: cover;

    margin: 0;
    height: 100vh;

    display:flex;
    flex-direction: column;
    flex: 1;
}

header{
    display: flex;
}
header h1{
    margin: auto;
}
header img{
    border: 20px solid red;
}

header, main, footer{
    margin-left: 10vw;
    margin-right: 10vw;
    border: 10px ridge blue;
    background-color: white;
}

main{
    flex:2;
    margin-top: 10vh;
    margin-bottom: 10vh;
}