:root {
    font: normal 400 "Press Start 2P", system-ui;
    color: white;	
}

body{
	background-image: url("assets/windows.jpg");
	background-size: 100vw 100vh;
	
	margin: 0;
	height: 100vh;
	
	cursor: default;
}

#taskBar{
	background-image: url("assets/taskBar.png");
	background-size: 100% 100%;
	
	width: 100%;
	height: 60px;
	
	position: fixed;
	bottom: 0;
}

#logoIcon{
	display: flex;
	flex-direction: column;
	align-items: center;
    gap: 6px;
    
    width: 100px;
    padding: 6px 4px;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#console{
	background-image: url("assets/console.png");
	background-size: 100% 100%;
	
	width: 60%;
	height: 60%;
	
	position: absolute;
	top: 10vh;
	left: 10vw;
	
	display: none;
}

#consoleText{
	height: 90%;
	
	overflow: scroll;
	white-space: pre-wrap;
}

.selected {
	background-color: rgba(0, 120, 215, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
}



#screen2{
	display:none;
}



