body{
    background-image: url("assets/redBg.jpg");
    background-size: cover;

    margin: 0;
    height: 100vh;

    display:flex;
    flex-direction: column;
    flex: 1;
}

:root {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;

    background-color: rgb(0,0,0,0.95);
}

body{
    margin: 0;
    height: 100vh;

    display: flex;
    flex-direction: column;

    background-image: none;
    animation: bgAnim 10s linear infinite
}

#content1{
    flex: 1;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    p{
        text-align: center;
        color: gray;
    }
}

#content2{
    flex: 1;
    display: none;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#content2 li,#content2 h1,#content2 p, #content2 ul{
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;

    background-color: rgba(0, 0, 0, 0.5);
}

footer{
    text-align: center;
    padding: 2em;
}
#footer:hover{
    color: red;
    text-shadow: 0 0 5px black, 0 0 10px red;
}

img#logo{
    border-radius: 5%;
    border: 10px solid red;
    filter: grayscale(100%);
}

/*change colors for hover*/
#contentAnim:hover{
    img#logo{
        filter: grayscale(0);
    }
    p{
        color: red;
        text-shadow: 0 0 5px black, 0 0 10px red;
    }
    animation-play-state: running;
}

/*first animation for hover effect*/
#contentAnim{
    position: relative;
    animation: logoAnim 1s infinite linear;
    animation-play-state: paused;
}
@keyframes logoAnim {
    0%{}
    50%{top: 5px;}
    100%{}
}
/*second animation zoom in*/
img#logo{
    animation: switchAnim 0.8s linear forwards;
    animation-play-state: paused;
}
@keyframes switchAnim{
    0%{transform: scale(1);}
    100%{transform: scale(20);}
}
/*third background animation*/
@keyframes bgAnim{
    0%{background-position: -1000px 0;}
    50%{background-position: 0 0;}
    100%{background-position: 1000px 0;}
}