body{
	font: normal 400 "Press Start 2P", system-ui;
    color: white;	

	margin: 0;
	
}
#screen {
    background-image: url(../assets/redBroken.jpg);
    height: 500px;
}
#dialogue {
    background-color: black;
    height: 145px;
}
p {
    font-size: 40pt;
}