body{
	font: normal 400 "Press Start 2P", system-ui;
    background-color: black;	
    color: white;
	margin: 0;
	
}
#screen {
    background-image: url(../assets/redBroken.jpg);
    height: 500px;
}
#dialogue {
    background-color: black;
    height: 145px;
}
#words {
    font-size: 40pt;
}
#reminder {
    color: gray;
}
.continue {
    display: none;
}
h1 {
    display: inline-block; 
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #333; 
    animation: 
        typing 2s steps(18) forwards, 
        blink-cursor 0.4s step-end infinite alternate;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-cursor {
    from, to { border-right-color: black; }
    50% { border-right-color: white; }
}
button {
    width: 180px;
    height: 50px;
}

fieldset {
    display: flex;
    flex-direction: column;
    color: black;
    background-color: white;
    align-items: start;
}

