body{
	font: normal 18pt "Press Start 2P", system-ui;

    background-color: black;	
    color: white;

	margin: 0;
	padding: 10px;
	
	height: 100%;
	overflow: hidden;
}

header{
	font-size: 2rem;
	text-align: center;

	border-bottom: 5px solid white;
}

main{
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}

div#image{
	background-image: url(../assets/csLounge.png);
	background-size: cover;
	background-repeat: no-repeat;

	height: 80vh;
	width: 90vw;

	border: 2px solid white;
}

div#text{
	padding: 50px;
	font-size: 1.5rem;

}