body{
	font: normal 18pt "Press Start 2P", system-ui;

    background-color: black;	
    color: white;

	margin: 0;	
	height: 100%;
}

header{
	font-size: 2rem;
	text-align: center;
}

main{
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;
}


div#introScreen{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);

	font-size: 3em;
}
div#gameScreen{
	display: none;
}

div#image{
	background-image: url(../assets/csLounge.png);
	background-size: cover;
	background-repeat: no-repeat;

	height: 80vh;
	width: 100vw;

	border-top: 5px solid white;
	border-bottom: 5px solid white;
}

div#text{
	padding: 50px;
	font-size: 1.5rem;
}